{% extends "base.html.twig" %}

{% block body %}

    <h1>Ajouter stagiaire : session {{session.intitule}}</h1>
    <hr>

    {{form_start(form)}}

        {{form_row(form.stagiaires)}}
        
        <input type="submit" value="ok">
    {{form_end(form)}}

{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function(){
        $(".plugin").multiSelect()
    })

</script>
{% endblock %}