{% extends "base.html.twig" %}

{% block body %}

    <h1>Ajouter un/des module(s) </h1>
    <hr>
    {{form_start(form)}}
        <input type="submit" value="Ajouter">

        {% form_theme form 'jquery.collection.html.twig' %}
        {{ form(form) }}

    {{form_end(form)}}

{% endblock %}
{% block javascripts %}
{{parent()}}
    <script>
        $(".test").collection({
            allow_up: false,
            allow_down:false,
            min: 1
        })
    </script>
{% endblock %}