{% extends 'base.html.twig' %}

{% block bread %}
    <li class="breadcrumb-item active">Accueil</li>
{% endblock %}

{% block body %}

    <h1>Bienvenue sur la gestion des sessions de formation</h1>

    <div class="text-center">
        <img class="rounded img-fluid" src="{{image}}" alt="">
    </div>
    

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fuga iusto officiis maxime quidem explicabo in cupiditate iure blanditiis aspernatur! Veritatis alias modi ad eos. Sunt nam necessitatibus commodi debitis laborum quam laboriosam quidem ab ratione ullam nesciunt repudiandae veritatis, rem deserunt voluptate aut asperiores.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fuga iusto officiis maxime quidem explicabo in cupiditate iure blanditiis aspernatur! Veritatis alias modi ad eos. Sunt nam necessitatibus commodi debitis laborum quam laboriosam quidem ab ratione ullam nesciunt repudiandae veritatis, rem deserunt voluptate aut asperiores.</p>

{% endblock %}
