#wrapper {
    max-width: 1200px;
    margin: auto;
}

h1{
    text-align: center;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-form {
    max-width: 600px;
    margin: auto;
}
.regs{
    display: flex;
}
.card{
    margin: auto;
}