
h1{
    text-align: center;
}

#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-form {
    max-width: 600px;
    margin: auto;
}
.regs{
    display: flex;
}
.card{
    margin: auto;
}

@media screen and (min-width: 770px) { 
    .table-center{
    width: fit-content;
    margin: auto;
    }
  } 

#small-table{
    width: fit-content;
    margin: auto;
}