
h1{
    text-align: center;
}

.d-flex > .card{
    max-width: 20rem;
    margin: 0 10px;
}

.user-form {
    max-width: 600px;
    margin: auto;
}
.regs{
    display: flex;
}
.card{
    margin: auto;
}

@media screen and (min-width: 770px) { 
    .table-center{
    width: fit-content;
    margin: auto;
    }
  } 

#small-table{
    width: fit-content;
    margin: auto;
}