{% extends 'base.html.twig' %}

{% block title %}Categories de modules{% endblock %}

{% block body %}

<h1>Categories de modules</h1>

<a class="btn btn-primary" href="{{path("new_categorie")}}">Ajouter une categorie</a>

<hr>

<div id="flex">
    {% for categorie in categories %}
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <small>ajouté par : {{categorie.user.fullname}}</small>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    {{categorie.nom}}
                </h4>
            </div>
            <a class="btn btn-secondary" href="{{path("edit_categorie", {id: categorie.id})}}">modifier</a>
            <a class="btn btn-danger" href="#">supprimer</a>
        </div>    
    {% endfor %}
</div>
    

{% endblock %}
