{% extends 'base.html.twig' %}

{% block bread %}
    <li class="breadcrumb-item"><a href="{{path("home")}}">Home</a></li>
    <li class="breadcrumb-item active">Profil</li>
{% endblock %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>{{app.user.fullname}}, voici votre profile </h1>
{% if app.user.role("ROLE_ADMIN") %}
    <a class="btn btn-primary" href="{{path("user_list")}}">Liste des users</a>
{% endif %}
<hr>

<p>
    Vous disposez des roles :
</p>
<ul>
    {% for role in app.user.roles %}
        <li>{{role}}</li>
    {% endfor %}
</ul>


{% endblock %}
